h1 {
    display: flex;
    justify-content: center;
}

#country-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.country-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.country-flag {
    width: 50px;
    height: 50px;
}
